<!DOCTYPE html>
<html>
<head>
    <title>Dungeons On Rails</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to Dungeons On Rails!</h1>
        
        <p class="mt-4">
            Dungeons On Rails is a role-playing game (RPG) where players embark on epic adventures in a fantasy world.
            In an RPG, players assume the roles of characters and navigate through a story-driven narrative, making choices and engaging in battles along the way.
            The game offers a rich and immersive experience, allowing players to customize their characters, explore vast landscapes, and interact with non-player characters (NPCs).
            Whether you're a seasoned RPG player or new to the genre, Dungeons On Rails offers endless possibilities for adventure and excitement.
        </p>
    </div>

<div class="container">
    <h2 class="mt-5">All Player Characters</h2>
    <% @characters_filter_player.each do |character| %>
        <div class="container justify-content-center">
            <div class="d-flex justify-content-center">
            <div class="card mb-2 w-50">
                <div class="card-body">
                    <h5 class="card-title">Name: <%= character.name_character %></h5>
                    <p class="card-text">Level: <%= character.level %></p>
                    <p class="card-text">LifePoints: <%= character.lifepoints %></p>
                    <div class="d-grid gap-4 d-md-flex justify-content-md-end">
                    <%= button_to 'Delete', "/character/#{character.id}", method: :delete, class: 'btn btn-danger me-md-2'%>
                    <%= button_to 'Jogar', "/character/#{character.id}", method: :get, class: 'btn btn-primary' %>
                    <%= button_to 'Edit',"/characters/edit/#{character.id}", method: :get, class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <% end %>
</div>
    
</body>
</html>
