<!DOCTYPE html>
<html>
<head>
    <title>Create Item</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Create Item</h1>
    <%= form_for :item, url: "/item/create" do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :item_type %>
    <%= f.text_field :item_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :demage %>
    <%= f.number_field :demage, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :value %>
    <%= f.number_field :value, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :effect %>
    <%= f.text_field :effect, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :backpack_id %>
    <%= f.number_field :backpack_id, class: 'form-control' %>
  </div>

  <%= f.submit 'Create Item', class: 'btn btn-primary' %>
    <% end %>
    </div>
</body>
</html>
